Meshes/mesh0.gri
Meshes/demoDiamond.gri
Meshes/demoDiamond.png
Meshes/*.gri
Meshes/*.png

Output/*
PDFs/*

GRILS/__pycache__
GRILS/report.log
GRILS/optimize_distmesh.py

BARBECUES/__pycache__
BARBECUES/config.json

.idea/*
git_commands.txt
solver.prof

BARBECUES/config.json
